<div class="row">

  <div class="col-12" *ngIf="message">
    <div class="alert alert-dismissible alert-{{messageType}} mx-auto">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      {{ message }}
    </div>
  </div>

  <div class="col-12">
    <div class="card my-card my-auto mx-auto">
      <div class="card-header bg-primary text-white">
        <h4>Register</h4>
      </div>
      <div class="card-body">
        <div class="form">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="user.name" id="name" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="user.username" id="username"
              placeholder="Username">
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="user.email" id="email" placeholder="Email Address">
          </div>
          <div class="form-group">
            <label for="contact">Contact Number</label>
            <input type="contact" class="form-control" name="contact" [(ngModel)]="user.contact" id="contact"
              placeholder="Contact Number">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="user.password" id="password"
              placeholder="Password">
          </div>
          <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" class="form-control" name="confirm_password" [(ngModel)]="user.confirm_password" id="confirm_password"
              placeholder="Confirm Password">
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-md" (click)="onRegisterSubmit()">Register</button>
            &nbsp;&nbsp;
            <a [routerLink]="['/login']" class="btn btn-default btn-md">Already have account?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
