<div class="card border-secondary mb-3">
  <div class="card-body">
    <h4 class="card-title">Enter the name of City</h4>
    <div class="form">
      <div class="form-group">
        <input type="text" name="city" [(ngModel)]="cityChoice" class="form-control" placeholder="Search Hotels by City"
          id="city" />
      </div>
      <div class="form-group">
        <button class="btn btn-success btn-md" (click)="getHotels()">
          Search
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="hotels.length; else no_hotel">
  <div class="col-md-6 col-lg-4 col-sm-12" *ngFor="let hotel of hotels">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ hotel.hotel_name }}</h5>
        <h6 class="card-subtitle text-muted">{{ hotel.city }}</h6>
      </div>
      <img style="height: 200px; width: 100%; display: block;" src="http://74b94b2a212a69577a4a-86543258078ab7eaee9e0eb189b684d6.r30.cf1.rackcdn.com/lps/assets/u/1600x900Hotel-Pur-Quebec---Superior-Church-View-Guest-Room---2-Queen-Beds---1227168.jpg"
        alt="Card image" />
      <div class="card-body">
        <p class="card-text">{{ hotel.description }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <b>Number of Vila:</b>
          <span class="badge badge-success ml-auto">{{
            hotel.numberOfRoomsAvailable.vila
            }}</span>
          of
          <span class="badge badge-primary">{{
            hotel.numberOfRooms.vila
            }}</span>
          @
          <span class="badge badge-warning ml-auto">Rs {{ hotel.price_room.vila }}/-</span>
        </li>
        <li class="list-group-item">
          <b>Number of One Bedroom:</b>
          <span class="badge badge-success ml-auto">{{
            hotel.numberOfRoomsAvailable.one_b
            }}</span>
          of
          <span class="badge badge-primary">{{
            hotel.numberOfRooms.one_b
            }}</span>
          @
          <span class="badge badge-warning ml-auto">Rs {{ hotel.price_room.one_b }}/-</span>
        </li>
        <li class="list-group-item">
          <b>Number of Two Bedrooms:</b>
          <span class="badge badge-success ml-auto">{{
            hotel.numberOfRoomsAvailable.two_b
            }}</span>
          of
          <span class="badge badge-primary">{{
            hotel.numberOfRooms.two_b
            }}</span>
          @
          <span class="badge badge-warning ml-auto">Rs {{ hotel.price_room.two_b }}/-</span>
        </li>
        <li class="list-group-item">
          <b>Number of Three Bedrooms:</b>
          <span class="badge badge-success ml-auto">{{
            hotel.numberOfRoomsAvailable.three_b
            }}</span>
          of
          <span class="badge badge-primary">{{
            hotel.numberOfRooms.three_b
            }}</span>
          @
          <span class="badge badge-warning ml-auto">Rs {{ hotel.price_room.three_b }}/-</span>
        </li>
      </ul>
      <div class="card-body">
        <!-- <button class="btn btn-sm btn-primary" (click)="makeBooking(hotel._id)"> -->
        <button class="btn btn-sm btn-primary" routerLink="/users/bookings/{{ hotel._id }}/bookrooms">
          Make Booking
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-sm btn-success" routerLink="/users/hotels/{{ hotel._id }}">
          Hotel Info
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #no_hotel>
  <h3 class="text-center">{{ hotelSeachText }}</h3>
</ng-template>
